{%extends 'paginas/admin.html'%} {% load static %} {% block header %}
<header class="header-container">
  <nav class="nav-container">
    <a href="{% url 'cadastrar-pessoas-fisicas' %}" class="btn-left">Fisicas</a>
    <a href="{% url 'cadastrar-pessoas-juridicas' %}" class="btn-right">Juridicas</a>
  </nav>
  <a href="{% url 'listas-pessoas-fisicas'%}" class="btn btn-primary btn-sm">Retornar</a>
</header>
{% endblock %} 
  {%block title%}
  <div class="title-container">
    <h3 class="title">Cadastrar Pessoa Juridica</h3>
  </div>
  {%endblock%}
{% block conteudo %}
<form action="" method="POST">
    
    {% csrf_token %}
   
      <input type="text" name="nome" id="">
      <input type="number" name="cnpj" id="">
      <input type="number" name="cpf" id="">

  <button type="submit" class="btn btn-primary btn-sm">Cadastrar</button>
</form>
{% endblock%}
