{% extends 'paginas/admin.html' %}

{% load static %}

{% block header %}
 <h1 class="">Excluir cadastros</h1>
 <p>Apenas confirme para excluir o registro definitivamente</p>
{% endblock %}

{% block conteudo %}
    <form action="" method="POST">
        <p>
            Deseja excluir o registro: <strong> {{ object }}</strong>?
        </p>
        {% csrf_token %}
        {{form.as_p}}

        <button type="submit" class="btn btn-danger btn-sm">excluir</button>
        <a href="{% url 'listas-pessoas-fisicas'%}" class="btn btn-primary btn-sm">Cancelar</a>
    </form>
{% endblock%}