{%extends 'paginas/admin.html'%} {% load static %} {% load crispy_forms_tags %} {% block header %} 
<header class="header-container">
  <nav class="nav-container">
    <a href="{% url 'cadastrar-pessoas-fisicas' %}" class="btn-left">Fisicas</a>
    <a href="{% url 'cadastrar-pessoas-juridicas' %}" class="btn-right">Juridicas</a>
  </nav>
  <a href="{% url 'listas-pessoas-fisicas'%}" class="btn btn-primary btn-sm">Retornar</a>
</header>
{% endblock %} 
  {%block title%}
  <div class="title-container">
    <h3 class="title">Cadastrar Pessoa Fisica</h3>
    <hr>
  </div>
  {%endblock%}


{% block conteudo %}
<form action="" method="POST">
    
  {% csrf_token %} <div class="form">{{form|crispy }}</div>
  <button type="submit" class="btn btn-primary btn-sm mt-5 mb-5">Cadastrar</button>
</form>
{% endblock%}
