{%extends 'paginas/admin.html'%} {% load static %} {% block header %}
<header class="header-container">
  <nav class="nav-container">
    <a href="{% url 'cadastrar-pessoas-fisicas' %}" class="btn-left">Fisicas</a>
    <a href="{% url 'cadastrar-pessoas-juridicas' %}" class="btn-right">Juridicas</a>
  </nav>
  <a href="{% url 'listas-pessoas-fisicas'%}" class="btn btn-primary">Retornar</a>
</header>
{% endblock %} 
  {%block title%}
  <div class="title-container">
    <h3 class="title">Cadastrar Pessoa Juridica</h3>
  </div>
  {%endblock%}
{% block conteudo %}
<form action="" method="POST">
    
    {% csrf_token %}
   
      <div class="d-flex align-items-center">
        <label for="exampleInputEmail1" class="form-label">Nome</label>
        <input type="text" class="form-control" name="nome" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">CPJ</label>
        <input type="number" class="form-control" name="cnpj" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">CPF</label>
        <input type="text" class="form-control" name="cpf" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

  <button type="submit" class="btn btn-primary btn-sm">Cadastrar</button>
</form>
{% endblock%}
